.list-value {
    border: 1px solid #bfbfbf;
    border-radius: 5px 0 0 5px;
    border-width: 1px 0 1px 1px;
    list-style: none;
    display: flex;
    margin: 0;
    margin-left: 5px;
    padding-left: 10px;

    .item-value {
        border: 1px solid #bfbfbf;
        background-color: #bfbfbf;
        padding: 5px;
        margin: 5px 5px 5px 0;

        .text-value {
            color: #000;
            text-decoration: none;
            display: flex;
            justify-content: center;

            .close-icon {
                padding-left: 10px;
                font-weight: bolder;

                &:hover {
                    color: red;
                    cursor: pointer;
                }
            }
        }
    }
}